{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>English Profile</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
  <!-- Navbar css -->
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<body>
  <nav class="nav">
    <section class="header"><img class="logo" src="https://s-media-cache-ak0.pinimg.com/236x/d4/66/51/d46651296e23c328f5bd46ac527fb04e.jpg" />
      <h2 class="title">English WebSite</h2>
      <div id="toggle"><span></span><span></span><span></span></div>
    </section>
    <ul id="menu">
      <li><a class="link" href="{% url 'home' %}">Home</a></li>
      <li><a class="link" href="{% url 'songList' %}">Listening</a></li>
      <li><a class="link" href="{% url 'chat' %}">Writing</a></li>
      <li><a class="link" href="{% url 'reading' %}">Reading</a></li>
      <li><a class="link" href="{% url 'logout' %}">Log Out</a></li>
    </ul>
  </nav>
  <section class="insta">
    <section class="insta-header"><img class="insta-photo-profile" src="https://cdn.dribbble.com/users/259149/screenshots/2487219/totoro-sticker.png" />
      <section class="insta-header-data">
        <section class="insta-info">
          <h1 class="insta-username">{{user.username}}</h1>
        </section>
        <section class="insta-follows">
          <p><span class="insta-indicator">12</span>Listening</p>
          <p><span class="insta-indicator">23</span>Writing</p>
          <p><span class="insta-indicator">30</span>Reading</p>
        </section>
      </section>
    </section>
  </section>
  <footer>
    Frontend development by Juan Manuel Sánchez Lozano - <a href="https://codepen.io/jonny-dev/">Codepen</a> - <a href="https://github.com/juanmsl">Github</a>
  </footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src="{% static 'js/navbar.js' %}"></script>
</body>

</html>
