<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Song List</title>
</head>

<body>
  <section class="song">
    <section class="song-title">
      {{ song.name }}
    </section>
    <section class="song-video">
      <iframe width="854" height="480" src="{{ song.url_video }}" frameborder="0" gesture="media" allowfullscreen></iframe>
    </section>
    <form class="song-letter" action="{% url 'individualSong' song.pk %}" method="post">
      {% csrf_token %} {{ song_letter|safe }} <br>
      <input type="submit" value="Evaluar">
    </form>
  </section>
</body>

</html>
