{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Song List</title>
  <link rel="stylesheet" href="{% static 'css/reading_list.css' %}">
  <!-- Navbar css -->
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
</head>

<body>
  <nav class="nav">
    <section class="header"><img class="logo" src="https://s-media-cache-ak0.pinimg.com/236x/d4/66/51/d46651296e23c328f5bd46ac527fb04e.jpg" />
      <h2 class="title">Reading</h2>
      <div id="toggle"><span></span><span></span><span></span></div>
    </section>
    <ul id="menu">
      <li><a class="link" href="{% url 'home' %}">Home</a></li>
      <li><a class="link" href="{% url 'songList' %}">Listening</a></li>
      <li><a class="link" href="{% url 'chat' %}">Writing</a></li>
      <li><a class="link" href="{% url 'reading' %}">Reading</a></li>
      <li><a class="link" href="{% url 'logout' %}">Log Out</a></li>
    </ul>
  </nav>
  <section class="songs">
    {% for lecture in reading_list %}
    <a class="song" href="{% url 'individualReading' lecture.pk %}">
      <p class="song-title">{{ lecture.pk }}</p>
      <p class="song-author">{{ lecture.title }}</p>
    </a>
    {% endfor %}
  </section>
  </section>
  <footer>
    Frontend development by Juan Manuel Sánchez Lozano - <a href="https://codepen.io/jonny-dev/">Codepen</a> - <a href="https://github.com/juanmsl">Github</a>
  </footer>
</body>

</html>
