<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <!-- Opciones -->
  <!-- nightmare morgue Halloween wish cannot sick counted indecision pain already -->
  <!-- Opciones -->

  Hello there,<br> The angel from my {x},<br> The shadow in the background of the {x}.<br> The unsuspecting victim of darkness in the valley.<br> We can live like Jack and Sally<br> If we want.<br>
  <br> Where you can always find me<br> And we'll have {x} on Christmas.<br> And in the night we'll {x} this never ends,<br> We'll wish this never ends.<br>
  <br> (I miss you, miss you)<br> (I miss you, miss you)<br>
  <br> Where are you?<br> And I'm so sorry.<br> I {x} sleep, I cannot dream tonight.<br> I need somebody and always<br> This {x} strange darkness<br> Comes creeping on so haunting every time.<br>
  <br> And as I stared I {x}<br> The webs from all the spiders<br> Catching things and eating their insides.<br>
  <br> Like {x} to call you<br> And hear your voice of treason.<br> Will you come home and stop this {x} tonight?<br> Stop this pain tonight.<br>
  <br>
  <i>[3x]</i><br> Don't waste your time on me.<br> You're {x} the voice inside my head.<br> (I miss you, miss you)<br> Don't waste your time on me.<br> You're already the voice inside my head.<br> (I miss you, miss you)<br>
  <br> (I miss you, miss you) <i>[4x]</i>
</body>

</html>
